#root {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0366d6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0365d696; 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.user-details {
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  text-align: center;
  background-color: #191919;
  width: 70vw;
  display: flex;
  border:2px solid #0366d6;
}

.user-details img {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 10px;
}

.user-details a {
  color: #0366d6;
  text-decoration: none;
}

.user-details a:hover {
  text-decoration: underline;
}

.search-input{
  padding: 5px 10px;
}
.search-input:focus {
  outline: none;
}